<%= form_for @garment, :html => {:multipart => true}  do |f| %>
  <% if @garment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garment.errors.count, "error") %> prohibited this garment from being saved:</h2>

      <ul>
      <% @garment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--<%= "brand: -- " +@garment.brand.to_s + " -- " + f.to_s %>-->


<%= f.fields_for :garment_images do |builder| %>

	<% if builder.object.new_record? %>
	
		<%= builder.label :caption, "Image Caption" %>
		<%= builder.text_field :caption %>
		
		<%= builder.label :photo, "Image File" %>
		<%= builder.file_field :photo %>
		</br>
	
	<% end %>

<% end %>

  
  <div class="field">
    <%= f.label :size_id %><br />
     <%= f.collection_select :size_id, Size.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.label :user_id %><br />
     <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  
  
  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
